@font-face {
	font-family: 'cosmos';
	src:url('../fonts/cosmos.eot?jleja4');
	src:url('../fonts/cosmos.eot?jleja4#iefix') format('embedded-opentype'),
		url('../fonts/cosmos.ttf?jleja4') format('truetype'),
		url('../fonts/cosmos.woff?jleja4') format('woff'),
		url('../fonts/cosmos.svg?jleja4#cosmos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'cosmos' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e900";
}
.icon-slider_esquerda:before {
	content: "\e901";
}
.icon-slider_direita:before {
	content: "\e902";
}
.icon-seta_areas:before {
	content: "\e903";
}
.icon-seta_menu:before {
	content: "\e904";
}
.icon-tema_corporate:before {
	content: "\e905";
}
.icon-tema_sports:before {
	content: "\e906";
}
.icon-tema_incentives:before {
	content: "\e907";
}
.icon-tema_leisure:before {
	content: "\e908";
}
.icon-seta_linguas_baixo:before {
	content: "\e909";
}
.icon-seta_linguas_cima:before {
	content: "\e90a";
}
.icon-sports_active_8:before {
	content: "\e90b";
}
.icon-sports_active_7:before {
	content: "\e90c";
}
.icon-sports_active_6:before {
	content: "\e90d";
}
.icon-sports_active_5:before {
	content: "\e90e";
}
.icon-sports_active_4:before {
	content: "\e90f";
}
.icon-sports_active_3:before {
	content: "\e910";
}
.icon-sports_active_1:before {
	content: "\e911";
}
.icon-sports_active_2:before {
	content: "\e912";
}
.icon-social_icon_linkedin:before {
	content: "\e913";
}
.icon-social_icon_twitter:before {
	content: "\e914";
}
.icon-social_icon_facebook:before {
	content: "\e915";
}
.icon-sports_2:before {
	content: "\e916";
}
.icon-sports_1:before {
	content: "\e917";
}
.icon-sports_3:before {
	content: "\e918";
}
.icon-sports_4:before {
	content: "\e919";
}
.icon-sports_6:before {
	content: "\e91a";
}
.icon-Sports_5:before {
	content: "\e91b";
}
.icon-Corporate_4:before {
	content: "\e91c";
}
.icon-Corporate_3:before {
	content: "\e91d";
}
.icon-Corporate_2:before {
	content: "\e91e";
}
.icon-Corporate_1:before {
	content: "\e91f";
}
.icon-About_lead:before {
	content: "\e920";
}
.icon-About_3:before {
	content: "\e921";
}
.icon-About_2:before {
	content: "\e922";
}
.icon-About_1:before {
	content: "\e923";
}
.icon-notificacoes:before{
	content: "\e923";
}




.txt-left{text-align:left}
.txt-center{text-align:center}

@mixin resetSpaces() {
  margin:0;padding:0;border:0;
}

/* ========== EMERGENCY AGENCY ========== */
*{box-sizing: border-box;}
body{font-family: 'Open Sans', Arial, sans-serif; font-size:15px;color:$grey;}

select::-ms-expand {
    display: none;
}

h1,h2,h3,h4,h5,p,li,ul{@include resetSpaces();}

h1{
	font-size:30px;line-height:34px;font-weight:400;padding-bottom:10px;
	b{font-weight:600;font-family: 'Open Sans', Arial, sans-serif;}
}
h2{font-size:25px;line-height:28px;font-weight:300;}

/* TOOLS */
.bt{
	position:relative;
	background:transparent;
	border:1px solid #fff;
	line-height:22px;font-size:22px;font-weight:300;text-decoration:none;color:$white;
	display:inline-block;padding:15px 30px;
	//span{position:absolute;line-height:35px;font-size:1.5em;min-width:35px;background:$eno-original;border:1px solid $eno-originalb;line-height: 35px;min-width: 38px;background: #065eaa;border: 1px solid #004a8a;display: inline-block;height: 37px;position: absolute;right: -40px;top: -1px;}
}


/* Separators */
.parallax .block {
	position: relative;
	z-index: 200;
	text-align: center;
	padding:100px 0;
}
.parallax .block h2{color:#fff;}
.parallax .block p{color:#fff;}
.parallax .block span.line{margin-top:45px;}

.parallax .bg {
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 400px;
}
.mobile .parallax .bg{
	//background-attachment: scroll!important;
	background-position:center center!important;
}
@media only screen and (max-width: 479px) {
	.parallax{height:auto!important;}
	.parallax .block{padding:70px 15px 60px;}
	.parallax h1{ font-size: 34px;line-height: 44px;}
}
/*
.parallax_wrapper{
	position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden;z-index:0;
	.parallax{
		position:absolute;top:0;left:0;
		img{width:100%;}
	}
}*/

/*
.accordion{
	position:relative;margin-top:30px;border:1px solid $blue-light;

	&.open{
		.top{background:#fff;color:$blue-light;border-bottom:1px solid $grey-border;margin:0 20px;padding:0;}
		//.text{display:block;}
		.icon{color:$blue-light;
			&:before{content: "\e61f";}
		}
	}
	&.close{
		.text{max-height: 0;}
	}

	.top{display:block;text-decoration:none;text-align:left;background:$blue-light;height:50px;font-size:23px; line-height:50px;font-weight:300;padding:0 20px;color:#fff;}
	.text{
		display:none;text-align:left;padding:20px;min-height:100px;

		a{color:$blue-light;text-decoration:none;font-weight:bold;}
	}
	.icon{position:absolute;right: 20px;top: 11px;color: #fff;display: block;font-size: 30px;}
}
*/


.socialbuttons{
	overflow:hidden;

	.facebook{color:$facebook;}
	.twitter{color:$twitter;}
	.pinterest{color:$pinterest;}
	.clicktoup{display:none;}
	a{display:inline-block;margin:0;text-decoration:none;width:34px;height:34px;
		img{width:100%;}
	}

}

.fullwidth{
	padding:45px 0;font-size:16px;
	h2{font-size:32px;padding-bottom:45px;}
}
.grid{
	.row{width:100%;max-width: 100%;padding: 0;}
	.col-height{
		padding:20px 50px;
		&:first-of-type{padding-left:10%;}
		&:nth-of-type(2n){padding-right:10%;}
		[class^='icon-']{
			font-size:40px;
		}
	}
	.withbg{
		background:$grey-grid-bg;
	}
}

/* Slider */
.slider {
	position:relative;
	h1{position:absolute;top:5%;width:100%;text-align:center;z-index:100;color:#fff;font-size:32px;}

	.text-content {
		position: absolute;top: 0;left: 0;right: 0;
		padding: 1em;width: 80%;height: auto;max-width:$max-width;margin:8% auto;color:#fff;
		h2{margin: 1em 0;font-size:32px;line-height:34px;}
	}
	.image-content {
	  line-height: 0;
	  img {max-width: 100%;width:100%;}
	}
	.pager {
		text-align: right;display: block;margin: 0.2em 0 0;padding: 0;list-style: none;
		li {
			display: inline-block;padding: 0.6em;margin: 0 0 0 1em;
			&.sy-active a {color: #31ace2;}
			a {
			  font-weight: 500;text-decoration: none;display: block;color: #222;
			}
		}
	}
	.sy-controls{
		a{font-family:"cosmos";font-size:30px;}
		.sy-prev a:after{
			background:none;
			content: "\e901";
		}
		.sy-next a:after{
			background:none;
			content: "\e902";
		}
	}

}

.slick-wrapper{
	position:relative;
	padding:30px 50px;

	.slick{
		.slick-prev, .slick-next {
		    position: absolute;
		    display: block;
		    height: 50px;
		    width: 50px;
		    line-height: 0px;
		    font-size: 0px;
		    cursor: pointer;
		    color: #000;
		    top: 50%;
		    padding: 0;
		    border: none;
		    outline: none;
		    -webkit-border-radius: 50%;
		    border-radius: 50%;
		}
		.slick-prev{margin-left: -50px;}
		.slick-next{margin-right: -50px;}
		.slick-prev:before, .slick-next:before{
			color:#000;
			opacity:1;
			font-size:25px;
		}
		.slick-prev:before{font-family: 'cosmos';content: "\e901";}
		.slick-next:before{font-family: 'cosmos';content: "\e902";}

		.slick-slide img {
		    display: inline-block;
		    text-align: center;
		}
	}
}

.quote{
	width:100%;padding:90px 0;
}

.contactusform{
	background:$grey-form-bg;color:$contactform;padding:30px 0 120px;text-transform:uppercase;
	h2{margin-bottom:30px;font-weight:500;line-height:50px;}
	p{line-height:25px;}
	.icon{font-size:75px;margin:20px 0;display:inline-block;}

	.wrapper{
		margin:0px 10px;text-align:left;margin-bottom:10px;padding-top:20px;
		label{line-height:40px;}
		input{width:100%;line-height:31px;padding:0 10px;height:32px;}
		&.check{
			text-align:center;padding-top:40px;
			input{background:transparent;border:0;display:inline-block;width:auto;height:14px;top:1px;position: relative;}
			label{font-size:12px;margin-left:5px;}
		}
	}
	.success,.error{padding-top:30px;}
}

//error handling
$error:#f7e800;
.ng-submitted .ng-invalid{ border: 1px solid $error; }
.success{display:none;position:relative;text-align:center;}
.error{position:relative;text-align:center;color:$error;}
input.ng-invalid.ng-touched{ border: 1px solid $error; }
label.check_error{color:$error;}


.introblocks{
	position:relative;z-index:10;padding-top:70px;padding-bottom:70px;overflow:hidden;margin:-140px 2% 0;

	.col{
		position:relative;padding:30px 25px;text-align:left;display:block;background:#fff;

		&.col1{
			margin-bottom:20px;

			&:before{
				content: attr(name);border: 1px solid #000;font-size:32px;
				display: block;position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: -1;
				padding:10px 25px;margin-top:-55px;margin-bottom:55px;margin-left:85px;margin-right:-45px;
				font-weight:300;
			}
		}
		&.col2{
			background:#fbfbfb;margin-right:2%;

			&:before{
				content:""; border: 1px solid #000;font-size:32px;
				display: block;position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: -1;
				padding:10px 25px;margin-top:55px;margin-bottom:-45px;margin-left:-45px;margin-right:85px;
			}
			&:after{
				content: attr(name);display: block;font-size:32px;text-align:right;
				position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: -1;
				padding:10px 25px;margin-top:-60px;margin-bottom:0;margin-left:-15px;margin-right:45px;
				font-weight:300;
			}
		}
		ul{
			padding:20px;
			li{list-style-type: none;padding:5px 0;}
			li:before{
				content: "\e902";
				font-family: "cosmos";
				display: inline-block;
				width: 1.2em;
				margin-left: -1.2em;
			}
		}
	}
}
.bullet{
	margin: 0 10px;
	line-height: 10px;
	display: inline-block;
	height: 10px;
	width:10px;
	overflow: hidden;
}
.bullet:after{
	content:"•";
	color:$grey-text-team;
	display:block;
	font-size: 28px;
}
.shifter-open{
	.callme{
		opacity:0;z-index:-1;transition: 0.2s;
	}
	.btmenu span{
		background: transparent url(../img/menu_close.svg) no-repeat center center;
	    display: block;
	    color: #fff;
	    margin-top: 4px;
	    cursor:hand;
	}
	.btmenu span:before{content:"";}
}
.callme{
	position:fixed;
	opacity:1;display:block;right:0;top:30%;padding:5px 15px;z-index: 1000;
	color:#fff;background:$bgcall;background: rgba(50,46,46,0.7);
	transition: 0.6s;
	transform:rotate(90deg);right:-78px;

	&.en{
		right:-52px;
	}

	.icon{
		position:relative;display:block;width:20px;height:30px;float:left;
		background:transparent url(../img/icon-callme.png) no-repeat top center;background-size:100%;
	}
	p{float:left;color:#fff;line-height:30px;margin-left:10px;font-size:20px;font-weight:100;}
}

nav{
	position:relative;font-size:12px;overflow:hidden;//min-width:500px;

	a{color:#fff;line-height:20px;text-decoration:none;font-weight:400;}
	a:hover{text-decoration: underline;}
	li.active>a{text-decoration: underline;}
	>ul{min-width:500px;width:100%;overflow:hidden;display:inline-block;}
	li{text-align:left;}
	>ul>li{float:left;width:auto;margin:0 2%;height:140px;}
	>ul>li:first-child{margin-left:0;}
	>ul>li:last-child{margin-right:0;}
	>ul>li>a{font-size:17px;}
	>ul>li>ol{padding-top:10px;}
	ol>li{float:none;}
	ol>li>a{font-size:14px;}
}

header{
	position:absolute;top:-182px;left:0;height:252px;width:100%;clear:both;z-index:1000;color:#fff;
	transition: top 0.6s;transition-timing-function: ease;

	&.open{
		top:0;

		.icon-menu:before{
			content: "\e904";
		}
	}
	.row{
		position:relative;padding:40px 0 0;

		.info{
			h2,a.call{font-weight:600;font-size:20px;line-height:55px;color:#fff;text-decoration:none;}
			p{font-size:10px;}
		}
		.btmenu{position:absolute;right:0;width:30px;top:15px;color:#fff;font-size:30px;text-decoration:none;}
	}
	.main{
		padding:20px 0 0;height:70px;
		select{
			margin: 0;padding: 0;
			height: 28px;width: 50px;padding-left: 10px;
			background: transparent;/* url(../img/sel_picker.png) no-repeat top right;*/
			color: #fff;font-weight: 700;
			-webkit-appearance: none;
		}
		.logo{
			max-width:150px;margin-top:0px;display:inline-block;
			img{width:100%;}
		}
	}
	.lang_wrapper{
		.lang{
			position:relative;width:30px;height:30px;border-radius:50%;cursor:pointer;
			border:2px solid #fff;line-height:26px;text-align:center;font-size:14px;font-weight:300;
			&:before{
				content: "\e909";
				font-family: "cosmos";
				position:absolute;
				top:0;right:-15px;
				line-height:30px;
				font-size:6px;
			}
		}
		.lang_list{
			display:none;padding-top:10px;text-align:center; width:30px;
			a{color:#fff;text-decoration:none;}
			a:hover{text-decoration:underline;}
		}

		&.open .lang_list{display:block;}
		&.open .lang:before{content:"\e90a";}
	}

	.socialbuttons{
		height:auto;text-align:center;
		a{margin:14px 2px;}
	}
	.bg{
		position:absolute;top:0px;left:0px;width:100%;height:100%;background:$grey-menu;opacity:0.76;z-index:-1;
		&:after {
			content:"";position:absolute;bottom:-50px;left:50%;margin-left:-105px;width:210px;height:210px;background:$grey-menu;border-radius:50%;
		}
	}
	a.link{color:#fff;}
}

section{
	.row{padding:0 30px}
	&.container{
		min-height:500px;

		.header{
			position:relative;width:100%;max-width:100%;
			//max-height:750px;display:block;
			background:transparent;background-size:cover;background-repeat: no-repeat;overflow:hidden;text-align: center;
			color:#fff;
			div[class^="header"]{
				position:relative;
				z-index:0;
				opacity:0;
				left:0;right:0;top:0;bottom:0;
			}
			img{
				width:100%;
				display:inline-block;
			}
			.txt{
				position:relative;
				padding-top:48vh;
				text-align:left;
				h1{font-size:45px;font-size:3vw;line-height:3.2vw;font-weight:300;
					b{font-weight:400;}
				}
				.bt{margin:2vw 0;}
			}
			.text-content{
				width:100%;
				padding: 0 30px;
				padding-top:42vh;
				text-align:left;
				h1{position:relative;top:auto;font-size:45px;font-size:3vw;line-height:3.2vw;font-weight:300;text-align: left;
					b{font-weight:400;}
				}
				.bt{margin:2vw 0;}
			}

			.footer{
				position:absolute;bottom:0;left:0;width:100%;padding-bottom:10px;z-index:1000;

				a{color:#fff;text-decoration:none;margin:10px 0;font-size:30px;display:inline-block;}
			}
		}
	}
}

.main{
	position:relative;

	.content{
		position:relative;text-align:center;height:auto;padding:20px;
		.block{padding:80px 0;}
	}
	.banners{
		position:relative;width:100%;padding:0 6px;list-style-type: none;overflow: hidden;display:block;
		li{
			position:relative;width:24%;margin:0 0.5%;float:left;cursor:pointer;
			img{width:100%;}
			.info{
				position:absolute;width:100%;height:100%;color:#fff;text-align:center;
				font-size:25px;padding-top:6vw;background:rgba(0,0,0,0.7);font-weight:300;
				font-size:1.8vw;

				&:hover{background:transparent;}
				span{font-size:60px;font-size:5vw;display:block;margin:10px 0;}
				.seta{display:block;margin:10px 0;}
			}
		}
	}
}
#home{
	&.container{
		/*.header{
			img{
				position:absolute;left:0;top:0;width:100%;
				display:inline-block;
			}
		}*/
		.header{
			.slider{
				//.text-content{padding: 0;width:90%;height:100%;}
				.sy-controls{display:none;}
			}
		}
		#yourteam{
			h2{padding-bottom:10px;}
		}
	}
}
#aboutus{
	.title{
		padding:50px 0;
		[class^="icon-"]{
			color:$about-icon;font-size:85px;
		}
	}

	.bg{
		background:$about-bg;
	}

	a.text{color:$grey;}

	.mission{
		color:#fff;
		background: transparent url(../img/bg_aboutus_mission.jpg) no-repeat top center;
		background-size:cover;

		.grid .col-height{
			padding:0;
			p{text-align:left;position:relative;font-weight:300;}
			p:first-of-type:after{position:absolute;top:-30px;left: -30px;width: 100%;height: 100%;padding: 30px;content:"";border:1px solid $about-border;box-sizing: content-box;}
		}
	}

	.wetravel{
		.row{padding-top:10px;}
		.slick{
			li{float:left;}
		}

	}
	#locations{
		margin-bottom:100px;

		.grid{
			.col-height{padding:40px 50px;}
			.content{padding:0;}
			a{color:$grey;}
			p{line-height: 1.6;}
		}
	}
	#contact{
		.icon-lead:before{
			content: "\e920";
		}
	}
}

#sports{
	.col.col1:before{
		color:#fff;
	}
	.col.col2:after{
		background:transparent url(../img/bg_head_sports.jpg) no-repeat top left;
		background-size:100%;
		color:#fff;
	}

	#news{
		.text-content{
			background:rgba(0,0,0,0.25);width:100%;max-width:100%;padding:3%;
			h2{
				max-width:$max-width;margin:0 auto;
			}
		}
	}
	.team{
		position:relative;
		background:$grey-grid-bg2;
		width:100%;padding:60px 0;
		margin-bottom:110px;

		h2{margin-bottom:50px;font-weight:600;}
		p{
			font-weight:600;
		}
		.icons{
			[class^='icon-']{
				color:$grey-text-team;font-size:55px;margin:50px 2.5%;display:inline-block;
				&:first-of-type{margin-left:0;}
				&:last-of-type{margin-right:0;}
			}
		}
		a{
			position:absolute;bottom:-30px;left:50%;margin-left:-210px;width:420px;
			color:$grey;border-color:$grey;padding: 20px 80px;background:#fff;
		}
	}
	.grid{
		b{font-weight:600;}
	}
	[class^="icon-"]{
		color:$about-icon;margin:10px 0;display:inline-block;
		&:before{
			font-size:50px;
		}
	}

	.contactusform{
		//margin-top:110px;
		.icon-lead:before{
			content: "\e906";
		}
	}
}

#corporate{
	.col.col2:after{
		background:transparent url(../img/bg_head_corporate.jpg) no-repeat top left;
		background-size:100%;
	}
	.teamsupport{
		background: transparent url(../img/bg_corporate_team_support.jpg) no-repeat top left;
		background-size:cover;
		color:#fff;
		p{font-weight:300;}
	}
	[class^="icon-"]{
		color:$about-icon;margin:10px 0;display:inline-block;
		font-size:45px;
	}
	.contactusform{
		/*margin-top:110px;*/
		.icon-lead:before{
			content: "\e905";
		}
	}
}

#incentives{
	.col{background:$incentives-bg;color:#fff;}
	.col.col1:before{
		color:#fff;
	}
	.col.col2:after{
		background:transparent url(../img/bg_head_incentives.jpg) no-repeat top left;
		background-size:100%;
		color:#fff;
	}
	.actions{
		position:relative;width:100%;height:auto;overflow:hidden;
		.bg {
			background: url(../img/bg_incentives_actions.jpg) no-repeat top center fixed;
			background-size:cover;height: 100%;
			z-index:-1;
		}
		.row{background:#fff;margin:10% 0;padding:30px;max-width:100%;}

		ul{
			padding:20px;
			li{list-style-type: none;padding:5px 0;}
			li:before{
				content: "\e902";
				font-family: "cosmos";
				display: inline-block;
				width: 1.2em;
				margin-left: -1.2em;
			}
		}
	}
	.how{
		h2{padding-bottom:10px;}
		h5{padding-bottom:30px;font-weight:400;}
		p{font-weight:400;}
		.bullet:after{color:#000;}
		.squares{margin-top:65px;}
	}

	#highlights{
		margin:0 auto;max-width:$max-width;margin-bottom:50px;
		.text-content{
			width:100%;max-width:100%;padding:0;margin:0;
			h2{margin:0;padding:7% 5%;}
			p{background:rgba(255,255,255,0.35);padding:3% 7%;line-height:30px;}
			.bullet:after{color:#fff;}
		}
		.sy-controls li{width:5%;}
		.sy-controls li a{margin-top:0px;}
	}
	h3{
		padding-bottom:45px;
		font-weight:500;
	}
	.contactusform{
		//margin-top:110px;
		.icon-lead:before{
			content: "\e907";
		}
	}

}
#leisure{
	.col{background:$leisure-bg;color:#fff;}
	.col.col1:before{
		color:#fff;
	}
	.col.col2:after{
		background:transparent url(../img/bg_head_leisure.jpg) no-repeat top left;
		background-size:100%;
		color:#fff;
	}
	.team{
		position:relative;width:100%;height:auto;overflow:hidden;
		.bg {
			background: url(../img/bg_leisure_team.jpg) no-repeat top center fixed;
			background-size:cover;height: 100%;
			z-index:-1;
		}
		.row{background:#fff;margin:10% 0;padding:60px 30px;max-width:100%;}
		h2{padding-bottom:10px;}
		h5{padding-bottom:30px;font-weight:400;}
		p{font-weight:400;}
		.bullet:after{color:#000;}
	}
	.quotes{
		position:relative;width:100%;height:auto;overflow:hidden;width:100%;
		.fullwidth{padding:0;}
		.bg {
			background: url(../img/bg_leisure_quotes1.jpg) no-repeat top center fixed;
			background-size:cover;height: 100%;
			z-index:-1;
		}
		.row{
			background:#fff;margin:15% 0 15% 0;padding:60px 30px;max-width:100%;
			&:nth-of-type(2){margin-top:0px;}

			em{
				font-family:"Tangerine";font-size:70px;margin:0 3px;
			}
		}

		h2{padding-bottom:0px;}
	}
	.quotes2{
		margin-bottom:50px;
		.bg {
			background: url(../img/bg_leisure_quotes2.jpg) no-repeat top center fixed;
			background-size:cover;height: 100%;
			z-index:-1;
		}
		.row{
			&:last-of-type{margin-bottom:0px;}
			&:nth-of-type(2){margin-top:0px;}
		}
	}

	#highlights{
		margin:0 auto;max-width:$max-width;margin-bottom:50px;
		.text-content{
			width:100%;max-width:100%;padding:2% 0;margin:18% 0;background:#4b85ac;background:rgba(75,133,172,0.40);
			h2{margin:0;}
			p{line-height:30px;}
			.bullet:after{color:#fff;}
		}
		.sy-controls li{width:5%;}
		.sy-controls li a{margin-top:0px;}
	}
	.contactusform{
		//margin-top:110px;
		.icon-lead:before{
			content: "\e908";
		}
	}
}
#error{
	min-height:200px;

	.header .text-content{
		padding-top:23vh;
		p{font-size:18px;}
	}
}

.section-icon{margin:0 0 10px 0;display:inline-block;}
.underline{
	position:relative;font-weight:500;margin-bottom:60px;padding-bottom:45px;
	&:after{
		position:absolute;bottom:10px;width:180px;height:1px;left:50%;margin-left:-90px;
		background:$incentives-border;content:"";display:block;}
}
.squares{
	position:relative;z-index:10;
	padding:50px;text-align:left;display:block;
	border: 1px solid #000;

	&:before{
		content:"";
		border: 1px solid #000;font-size:32px;
		display: block;position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: -1;
		margin-left: -20px;margin-top: -15px;
		margin-right: 15px;margin-bottom: 20px;
	}
	ul{
		padding:20px;
		li{list-style-type: none;padding:5px 0;}
		li:before{
			content: "\e902";
			font-family: "cosmos";
			display: inline-block;
			width: 1.2em;
			margin-left: -1.2em;
		}
	}
}


.ngdialog{
	.modalBox{
		font-family: 'Open Sans', Arial, sans-serif;
		h1{font-size:15px;color:$grey;font-weight:bold;}
		p{font-size:15px;font-weight:300;}
	}
}

/* FOOTER */
footer{
	position:relative;padding:65px 0;background:$grey-dark;min-height:230px;color:#fff;
	z-index:1000;
	.info{
		h2,a.call{font-weight:600;font-size:16px;line-height:55px;color:#fff;text-decoration:none;}
		p{font-size:10px;}
	}
	form{
		padding:22px 0;
		input{width:80%;line-height:36px;padding:0 20px;text-align:center;height:36px;}
		.bt{
			padding:4px 10px 5px;
			float:right;
			&:after{content: "\e902";font-family:"cosmos";font-size:10px;}
		}
	}
	.error{font-size:13px;padding-top:10px;padding-right:10%;}

	>ul>li>a{font-size:15px;}
	ol>li>a{font-size:12px;}

	.socialbuttons{
		z-index:1;position:absolute;width:100%;left:0;top:-18px;text-align: center;
		a{margin:0 5px;}
	}
	.copywrite{
		position:absolute;bottom:20px;font-size:10px;width:100%;

		a.cookie{color:#fff;margin-left:20px;text-decoration:underline;cursor:pointer;}

		a.info_modal{color:#fff;margin-left:20px;text-decoration:underline;cursor:pointer;}
	}

	.mobile_linking{
		 @extend .copywrite;
		 bottom:12px;
		 .col-12{
			 margin-left:-20px;
		 }
		 a.cookie {
			 margin-left:0;
		 }
	}
	a.link{color:#fff;}
}

a.gotop{
	display:none;
}

a.truncatemobile{display:none;}
.hidemobile{display:block;}




/** TABLET AND SMARTPHONE */
@media only screen and (min-width: 1440px) {
	/* Style adjustments for viewports that meet the condition */

}

@media only screen and (max-width: 1260px) {


	header{
		padding:0 20px;
		.top{display:none;}
		.main{top:180px;}
	}
	footer{
		.col-2{display:none;}
		.col-3{display:none;}
		.col-7{
			width:100%;
			div{margin:0;width:100%;}

			nav > ul {
			    width: 650px;
			    margin: 0 auto;
			    position: relative;
			    display: block;
			}
		}
		.copywrite{text-align:center;}
	}
	h1 {font-size: 4vh;}

	#home .header{
		.txt{
			padding-top: 26vw;
		}
		.text-content{
			padding-top: 15vw;
		}
	}
}
@media only screen and (max-width: 660px) {
	footer{
    	padding: 35px 0;
    	min-height: 30px;

		nav{display:none;}
	}
	#home .main .banners li{
		width:49%;margin: 0.5%;
		.info{
			padding-top:10vw;font-size:4vw;
			span{font-size:60px;}
		}
	}
}

@media only screen and (min-width: 601px) {
	.mobile{display:none;}
}

@media only screen and (max-width: 600px) {
	.desktop{display:none;}
	.tablet{display:none;}
	.mobile{display:block;}

	[class*="offset"],[class*="col"]{
		margin:0;width:100%;
	}

	header{
		top: -200px;
		.bg:after{bottom:-35px;margin-left: -90px;width: 180px;height: 180px;}
		.lang_wrapper{opacity:0;}
		.main{
			top: 190px;
			.lang_wrapper{opacity:1;}
			.logo {position: absolute;max-width: 112px;top: 35px;left: 50%;margin-left: -56px;}

		}
	}
	footer{
		padding:35px 15px;
		.col-3{
			display:block;width:100%;
			[class*="col-"]{margin:0;width:100%;}
			.bt{margin-bottom:15px;}
			form{
				//display:none;
				input{width:85%;}
				.bt{
					width:15%;padding:9px 10px 8px;margin:0;
				}
			}
		}
		.copywrite{display:none;}
		.mobile_linking{display:block;}
		.socialbuttons{
			.clicktoup{display:block;position: absolute;right: 10vw;top: 0;}
		}

	}

	h1{font-size: 16px;line-height:20px;padding-bottom:40px;}
	h2{font-size: 20px;line-height:20px;}
	p{text-align:center;font-size:15px;}
	.bt{line-height:16px;font-size:16px;padding: 15px 20px;padding: 12px 20px;width: 100%;text-align:center;}

	.main .content{
		.block{
			padding:40px 0;
		}
	}
	.contactusform{
		.icon{margin:0;font-size:60px;}
		h2{margin-bottom:20px;}
		p{line-height:20px;}
		.lead .row{padding:0;}
		.wrapper{margin:0;}
	}

	.callme{
		transform:rotate(0deg);right:0;top:15%;padding:5px 10px;
		.icon{width:20px;}
		p{display:none;}
	}

	section.container{
		.row{padding:0 15px}
		.header{
			height:auto;
			img{position:relative;}
			div[class^="header"]{opacity:1;}
			.txt{
				position:absolute;top:0;padding-top:45vw!important;
				h1{
					font-size: 6vw;
    				line-height: 7vw;
    			}
			}
			.slider{
				.text-content{padding: 0;width:90%;height:100%;}
				.sy-controls{display:none;}
				h1{
					font-size: 5.3vw;line-height: 7vw;font-weight: 300;text-align: left;
					padding: 0;padding-top: 100px;
				}
				.bt{z-index: 100;margin-top: 50px;}
			}
		}
	}
	.fullwidth{
		padding:25px 0;
		h2{font-size:20px;padding-bottom:15px;}
	}
	.grid{
		.col-height{
			display:block;
			p{
				text-align:center;
				&:first-of-type:after{display:none;}
			}
		}
		.col-1{display:none;}
		.col-5{width:100%;}
	}
	.introblocks{
		margin:-70px 0 0;padding-bottom:0;

		.col{
			padding:30px 15px;

			&.col1{
				margin-bottom:70px;

				&:before{
					left: 0;top: -40px;
					margin: 0;padding: 0;border: 0;
					font-size: 20px;line-height: 40px;text-align: center;font-weight: 400;
					background: rgba(255, 255, 255, 0.3);
				}
			}
			&.col2{
				margin:0;
				&:before{display:none;}
				&:after{
					width:100%;left: 0;top: -70px;bottom:auto;
					margin: 0;padding: 0;border: 0;
					font-size: 20px;line-height: 70px;text-align: center;font-weight: 400;
					background: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}

	#home.container{
		.header{
			img{position:relative;}
		}
		.main .banners{
			padding:0;
			li{
				width:100%;height:70px;margin: 0;
				.info{
					position:absolute;padding:25px 15px;font-size:20px;
					background:rgba(0,0,0,0.4);
					span{display:none;}
					//div{display:none;}
					.seta{
						margin:0;position:absolute;right:15px;top:28px;
						&:before{content:"\e902"}
					}
				}
			}
		}
		.sponsors{
			.row{
				margin:0;
				.md-6{width:100%;margin:0;}
			}
		}
	}
	#aboutus{
		.title{
			padding: 35px 0;
			[class^="icon-"] {font-size: 55px;}
		}
		.mission .grid{
			.col-height{
				p{text-align:center;}
			}
		}
		#locations.row{padding:0;margin:0;
			.row{padding:0;}
			.grid .col-height{padding:30px 15px;}
		}
	}
	#corporate{
		.col.col2:after {
	    	background: transparent url(../img/mob_bg_head_corporate.jpg) no-repeat top left;
	    	background-size: 100%;
	    }
	}
	#sports{
		.col.col2:after {
	    	background: transparent url(../img/mob_bg_head_sports.jpg) no-repeat top left;
	    	background-size: 100%;
	    }
	    .team{
	    	margin-bottom:0px;
	    	.icons{display:none;}
	    	p{
	    		font-weight:400;
	    		.bullet{display:none;}
	    	}
	    	a{position:relative;bottom:auto;left:auto;margin:auto;width:100%;padding:15px;margin-top:30px;}
	    }
	}
	#incentives{
		.col{
			background:#fff;color:$grey;
		}
		.col.col2:after {
	    	background: transparent url(../img/mob_bg_head_incentives.jpg) no-repeat top left;
	    	background-size: 100%;
	    }
	    .actions .row{margin: 100px 0;}
	    .how{
	    	.squares{margin-top:0;}
	    }
	    #highlights{margin:0;}
	    .contactusform{margin-top:0;}
	}
	#leisure{
		.col{
			background:#fff;color:$grey;
		}
		.team{
			.row{margin: 100px 0;}
			.bg{
				background: url(../img/bg_leisure_team.jpg) no-repeat top center;
			    -webkit-background-size: cover;
			    background-size: cover;
			    height: 100%;
			    z-index: -1;
			}
		}

		.quotes{
			.row{
				margin: 50px 0 50px 0;
	    		padding: 30px 30px;

				h2{
					line-height:30px;
					em{font-size:45px;}
				}
			}
			.bg {
			    background: url(../img/bg_leisure_quotes1.jpg) no-repeat top center;
			    -webkit-background-size: cover;
			    background-size: cover;
			    height: 100%;
			    z-index: -1;
			}
		}
		#highlights{margin:0;}
		.contactusform{margin-top:0;}
	}
	#error{
		.header .text-content{
			padding-top:1vh;
			h1{font-size:18px;line-height:20px;padding-top:60px;}
			p{font-size:15px;position:relative;text-align:left;z-index:1;margin-top:20px;font-weight:100;}
		}
	}



	#highlights{
		.row{padding:0;}
		.sy-slides-wrap .sy-controls li{padding-bottom:0px;}
	}
	.underline{margin:0;}
	.squares{
		border:0;padding:0;
		&:before{display:none;}
		ul{padding:20px 0 0 20px;}
	}
	.grid{
		.row{padding:0!important;}
		.row-height{
			.col-6{
				width:100%;padding:0;background:#fff;
				&:nth-child(1){
					background:$grey-grid-bg;
				}
			}
		}
	}
	#services.content{
		padding:0;
	}

	a.truncatemobile{display:block;border:1px solid $grey;color:$grey;margin-top:20px;}
	.hidemobile{display:none;}
}

/*@media only screen and (max-width: 899px) {
	header{
		//[class^="col-"]{width:50%;}
		.nav li a{font-size:12px;}
		.menu{width:62%;}
		.col-2:last-child{width:20%;}
	}
	#home .main{
		.content{
			padding:65px 0;height: 500px;
			h1{font-size: 32px;line-height: 35px;}
			p{font-size: 20px;}
		}
		.banners{
			li{
				a{font-size:18px;}
			}
		}
	}

	.sitemap{
		nav{width:100%;text-align:center;
			>ul{overflow:hidden;display:inline-block;}
			li{text-align:left;}
		}
		.actions{display:none;}
	}
}
@media only screen and (max-width: 768px) {
	//Style adjustments for viewports that meet the condition
	.shifter-navigation{
	    li{
	    	a{width:100%;display:block;}
	      &.socialicons{display:none;}
	    }
	}
	header{
		[class^="col-"]{width:50%;}
		.menu{display:none;}
		.col-2:last-child{
			width:50%!important;
			text-align:right;
		}
		.socialbuttons{
			width:100%;padding-right:50px;
			a{margin:24px 5px;}
		}
		.shifter-handle{line-height:80px;font-size:35px;top:0;position: absolute;top: 0;right: 30px;}
	}
	#home .main{
		background:$white url(../img/bg_home-bolhas.jpg) no-repeat top center;
		background-size:contain;
		.parallax_wrapper{display:none;}
	}

}


@media only screen and (max-width: 767px) {
	//Style adjustments for viewports that meet the condition

	h1{font-size: 32px;line-height: 35px;}

	#home .main{
		.content{
			padding:65px 0;height: auto;

			.col-8{margin-left:10%;width:80%;}
			p{font-size: 20px;}
		}
		.banners{
			text-align: center;position:relative;bottom:auto;

			li{
				position: relative;display: inline-block;width: 60%;min-width:250px;margin: 10px 0;overflow: hidden;float:none;

				&.receitas{background:transparent url(../img/banners/mob_receitas.jpg) no-repeat top center; background-size:cover;}
				&.passatempos{background:transparent url(../img/banners/mob_passatempos.jpg) no-repeat top center; background-size:cover;}
				&.amostras{background:transparent url(../img/banners/mob_amostras.jpg) no-repeat top center; background-size:cover;}

				a{font-size:20px;}

			}
		}
	}
	#sabores{
		.content{
			padding:30px 0;text-align:center;
			h2{
				font-size:35px;line-height:36px;margin-bottom:20px;
			}
			.col-6{
				margin:0 5%;margin-bottom:100px;width:90%;max-width:500px;display:inline-block;float:none;

				&.lemon{height: 380px;}
			}

		}
	}




	.products{
		.content{
			padding:65px 0;height: auto;

			.col-8{margin-left:10%;width:80%;}
			//h1{font-size: 32px;line-height: 35px;}
			p{font-size: 20px;}
		}
		.list{
			text-align: center;
			padding:20px 30px 0px;

			li{position: relative;display: inline-block;width: 60%;min-width:180px;max-width:250px;margin: 10px 0;overflow: hidden;float:none;}
		}
	}
	.quotes .content{
		padding: 40px 0;
		height:auto;

		.col-8{margin-left:10%;width:80%;}

		h2{font-size:25px;}
	}

	footer{
		padding-bottom:40px;
	}
	a.gotop{
		position:fixed;top:auto;bottom:0;left:0;width:100%;background:$grey;text-align:center;line-height:40px;text-decoration:none;color:$white;
		display:none;z-index:100;box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.2);
	}
}


@media only screen and (max-width: 600px) {
	.shifter.shifter-enabled{
	  .shifter-navigation{
	    li{
	      &.header{color:$white; font-family:'Passion One';font-size:20px;line-height:46px;}
	      &.socialicons{display:block;}
	    }
	  }
	}
	body{padding-top:46px;}
	h1{font-size:30px;line-height:32px;}
	h2{font-size:28px;line-height:30px;}

	header{
		height:46px;
		.row {
    		padding: 0 15px;
		}

		a.logo{max-width:72px;bottom:-9px;
			img{max-width:100%;}
		}

		.nav{
			li{
				a{line-height: 44px;}
			}
		}

		.socialbuttons{
			display:none;
		}
		.shifter-handle{line-height:46px;right:15px;}

	}

	section{
		.row {
    		padding: 0 15px;
		}
	}
	.main .content{padding:50px 15px;}

	#home .main{
		background:$white url(../img/bg_mob_home-bolhas.jpg) no-repeat top center;
		background-size:contain;

		.content{
			padding: 35px 15px;

			.col-8{width:100%;margin:0;}


			p{font-size:16px;}

			.banners{
				padding:0;
				li{ width:100%;padding-top: 40%;}
			}
		}
	}
	#passatempos{
		.content{
			padding:30px 15px;
			.col-6{width:100%;margin:5px 0;}
			h2{margin:40px 0;}
			p{font-size:16px;}
		}
	}

	#amostrasofertas .content{
		background-size:70%;
	}

	.products{
		.content{
			padding: 35px 15px;

			//h1{font-size:30px;font-height:32px;}
			p{font-size:16px;}
		}

		.list{
			padding: 0 0 10px 0;

			li{
				width:100%;max-width:400px;margin-bottom: 30px;
				&:last-child{margin-bottom:0;}

				a{font-size:15px;
					span{font-size:25px;}
				}
			}
		}
	}

	.quotes{
		.content{
			h2{line-height:24px;font-size:20px;}
		}
	}
	.sitemap{
		display:none;
	}
	footer{
		background:$grey-light;text-align:center;padding-top:25px;

		.row {
    		padding: 0 15px;
		}
		a{position:absolute;width:100%;text-align:center;left:0;top:5px}
		img{display:none;}
		span{display:none;}
	}
}
*/

.social-links {

	a {

		& {
			font-size: 20px;
			border: 2px solid #FFFFFF;
			border-radius: 34px;
			-webkit-border-radius: 34px;
			line-height: 31px;
			color: #FFFFFF !important;
		}
		
		&.facebook {
			background: #547cb7;
		}

		&.twitter {
			background: #42b3d2;
		}

		&.linkedin {
			background: #238cc8;
		}

		&.instagram {
			background: #fb3958;
		}
	}
}