#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:9;
    top: 0px;
    left: 0px;
    display: table;
    opacity: 1;
    z-index:1001;

    &.hide {
        opacity: 0;
    }

    span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        float: none;
        background: $white;
        background: $grey;
    }

    img {
        width: 100px;
        height: auto;
    }
}