/*
	THEME FORM
*/

/* ========== custom inputs/selects ========== */
.select-wrap select,
.input-checkbox-wrap input,
.input-radio-wrap input,
.input-file-wrap input { position: absolute; cursor: pointer; -webkit-appearance: none; left: 0; top: 0; width: 100%; min-height: 1.5em; min-height: 100%; height: 3em; max-height: 100%; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); z-index: 2; }
/* ========== select ========== */
.select-wrap {
	background: #fff;
	position: relative;
	float: left; height: 25px;
	padding-right: 26px;
	border: 1px solid #cfcfcf; border-radius: 3px;
	font-family: "Roboto",sans-serif;
}
.select-wrap .select-content {
	font-size: 11px; color: #595959;
	line-height: 25px;
	text-overflow: ellipsis; white-space: nowrap;
	float: left; width: 100px; height: 25px;
	padding: 0 5px;
	overflow: hidden;
	text-transform: uppercase;
}
.select-wrap .select-btn {
	/*background: transparent url(../img/sprite.png) no-repeat -580px -20px;*/
	position: absolute; right: 0; top: 0;
	width: 26px; height: 100%;
}
.select-wrap .select-btn:after {
	position: absolute;
	content:"\e609";
	font-family: "icomoon";
	top: 4px;
	right: 7px;
	color:#000;
}
/* ========== [checkbox] [radio] [file] ========== */
.input-checkbox-wrap, .input-radio-wrap, .input-file-wrap { background:black; display: inline-block; position: relative; width: 18px; height: 19px; }/*background: transparent url(../img/sprite.png) no-repeat;*/

.input-checkbox-wrap { /*background-position: -100px -100px; */margin-top:10px;}
.input-radio-wrap { background-position: -150px -100px; }
.input-file-wrap { background-position: -200px -100px; }

.input-checkbox-wrap.active:after { position:absolute;top: 3px;left: 4px;content:"\e605"; font-family: 'icomoon'; font-size:1em; color:#fff; /*background-color:blue; background-position: -100px -150px;*/ }
.input-radio-wrap.active { background-position: -150px -150px; }
.input-file-wrap.active { background-position: -200px -150px; }