<div id="contact" class="row">
    <div class="col-10 offset-1 txt-center">
        <span class="icon icon-lead"></span>

        <div class="lead" translate="{{ 'CONTACT_HEADER' }}"></div>


        <form
            formulario
            name="contact"
            novalidate
            ng-submit="submit(contact.$valid, input)">

            <div class="lead">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <label>{{ 'NAME'|translate}}</label>
                            <input type="text" name="name" ng-model="input.name" required/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrapper">
                            <label>{{ 'PHONE'|translate}}</label>
                            <input type="number" name="phone" ng-model="input.phone" required minlength="9" validate-number/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrapper">
                            <label>{{ 'EMAIL'|translate}}</label>
                            <input type="email" name="email" ng-model="input.email" required validate-email/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="wrapper check txt-center">
                        <!--
                            <input type="checkbox" id="terms" name="terms" ng-model="input.terms" required />
                            <label for="terms" ng-class="{'check_error':contact.$submitted && contact.$invalid && !input.terms}">{{ 'CONTACT_TERMS'|translate}}</label>
                        -->
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="hidden" name="section" ng-model="input.section" ng-init="input.section=section.main" />
                        <button type="submit" class="bt">{{ 'CONTACT_SUBMIT_BT'|translate}}</button>
                    </div>
                    <div class="col-12 error" ng-if="contact.$submitted && contact.$invalid">
                        {{ 'CONTACT_ERROR_REQUIRE_MESSAGE'|translate}}
                    </div>
                </div>
            </div>
            <div class="loading ng-hide" translate="CONTACT_LOADING_MESSAGE"></div>
            <div class="success" translate="CONTACT_SUCCESS_MESSAGE"></div>
        </form>
    </div>
</div>