<footer class="sitemap">
	<div class="row">
		<div class="col-2 col-img txt-center">
			<a href="#" ui-sref="root.home" ><img src="app/public/img/logo.png" alt="COSMOS"/></a>
	    </div>
        <div class="col-7">
        	<div class="col-11 offset-1">
		  		<menu />
		  	</div>
        </div>
		<div class="col-3 actions">
			<div class="col-10 offset-1 info txt-center">
				<!--<a href="#" class="bt shownewsletter mobile">NEWSLETTER SIGN UP</a>-->
				<div class="desktop tablet">
					<a class="call" href="mailto:comercial@cosmos-viagens.pt">
						comercial@cosmos-viagens.pt
					</a>
					<!-- <a class="call" href="tel:707203903">707 203 903</a>
					<p translate="SCHEDULE"></p> -->
				</div>
				<form id="newsletter"
		            newsletter
		            name="newsletter"
		            novalidate
		            ng-submit="submit(newsletter.$valid, input)">

					<div class="lead">
						<input type="email" name="email" placeholder="{{ 'FOOTER_SUBSCRIBE_PLACEHOLDER' | translate }}" ng-model="input.email" required validate-email/>
						<input type="hidden" name="section" ng-model="input.section" ng-init="input.section=section.main" />

						<button type="submit" class="bt"></button>
						<div class="col-12 error" ng-if="newsletter.$submitted && newsletter.$invalid">
	                        {{ 'FOOTER_SUBSCRIBE_ERROR_MESSAGE'|translate}}
	                    </div>
					</div>
					<div class="success" translate="FOOTER_SUBSCRIBE_SUCCESS_MESSAGE"></div>
				</form>

				<div class="mobile">
					<a class="call" href="tel:707203903">707 203 903</a>
					<p translate="SCHEDULE"></p>
				</div>
				<!--<a href="#" class="bt mobile">CONTACT COSMOS</a>-->
			</div>
		</div>
		<div class="socialbuttons"></div>
	</div>
	<div class="copywrite">
		<div class="row">
			<div class="col-12">
				Copyright © 2016 Cosmos - Viagens e Turismo, S.A. todos os direitos reservados. RNAVT: 1945
				<a modalbox class="cookie" ng-click="openmodal('COOKIE_MODAL_TEXT')" translate="COOKIES"></a>
				<a modalbox class="info_modal" ng-click="openmodal('INFO_MODAL_TEXT')" translate="CUSTOMER_INFORMATION"></a>
				
				<script>
					{{lang}}
				</script>

				<a class="info_modal" href="http://incentives.cosmos-viagens.pt/{{ 'PRIVACY_POLICY_LINK' | translate }}/" > {{ 'PRIVACY_POLICY' | translate }}  </a>
			</div>
		</div>
	</div>
	<!--Duplication of links so it shows only on mobile without the copywrite-->
	<div class="mobile mobile_linking">
		<div class="row">
			<div class="col-12">
				<a modalbox class="cookie" ng-click="openmodal('COOKIE_MODAL_TEXT')" translate="COOKIES"></a>
				<a modalbox class="info_modal" ng-click="openmodal('INFO_MODAL_TEXT')" translate="CUSTOMER_INFORMATION"></a>

				<a class="info_modal" href="http://incentives.cosmos-viagens.pt/{{ 'PRIVACY_POLICY_LINK' | translate }}/"  > {{ 'PRIVACY_POLICY' | translate }} </a>
			</div>
		</div>
	</div>
</footer>
