<span class="bg"></span>
<div class="row top">
    <div class="col-4 info txt-center">
        <a class="call" href="mailto:comercial@cosmos-viagens.pt">
            comercial@cosmos-viagens.pt
        </a>
        <!-- <a class="call" href="tel:707203903">707 203 903</a>
        <p translate="SCHEDULE"></p> -->
        <div class="socialbuttons"></div>
    </div>
    <div class="col-8 menu">
        <menu />
    </div>
    <!--<div class="col-2">
        <div class="socialbuttons"></div>
        <a href="#" clas="shifter-handle"><span class="icon icon-menu">&nbsp;</span></a>
    </div>-->
</div>
<div class="row main">
    <div class="col-2" ng-Controller="TranslatorCrl">
        <!--<select class="lang" name="lang" size="1" ng-model="lang" ng-change="setLang(lang)">
            <option value="pt">PT</option>
            <option value="en">EN</option>
        </select>-->
        <div class="lang_wrapper">
            <div class="lang">{{lang|uppercase}}</div>
            <ul class="lang_list">
                <li><a href="#" ng-show="lang=='en'" ng-click="setLang('pt')">PT</a></li>
                <li><a href="#" ng-show="lang=='pt'" ng-click="setLang('en')">EN</a></li>
            </ul>
        </div>
    </div>
    <div class="col-8 txt-center">
        <a href="#" class="logo" ui-sref="root.home"><img src="app/public/img/logo.png" alt="COSMOS"/></a>
    </div>
    <div class="col-2">
        <a href="#" clas="shifter-handle" class="btmenu"><span class="icon icon-menu">&nbsp;</span></a>
    </div>

</div>
