<div class="header1">
    <img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}header1.jpg"/>
    <div class="txt row">
        <div class="col-12" translate="HOME_SLIDER1"></div>
    </div>
</div>
<div class="header2 hide">
    <img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}header2.jpg"/>
    <div class="txt row">
        <div class="col-12" translate="HOME_SLIDER2"></div>
    </div>
</div>
<div class="header3 hide">
    <img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}header3.jpg"/>
    <div class="txt row">
        <div class="col-12" translate="HOME_SLIDER3"></div>
    </div>
</div>
<div class="header4 hide">
    <img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}header4.jpg"/>
    <div class="txt row">
        <div class="col-12" translate="HOME_SLIDER4"></div>
    </div>
</div>

<!--<div class="header{{n}} hide" ng-repeat="n in [] | range:4">
    <img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}header{{n}}.jpg"/>
    <div class="txt row">
        <div class="col-12" translate="HOME_SLIDER{{n}}"></div>
    </div>
</div>-->

<span class="footer">
    <a href="#/{{lang}}/home/yourteam" class="icon-seta_areas"></a>
</span>