<nav class="col-12">
    <ul>
        <li ng-class="{ active: section.main == 'aboutus' }"><a href="#" ui-sref="root.aboutus">{{ 'WHOWEARE' | translate }}</a>
            <ol>
                <li><a href="#/{{lang}}/aboutus/about">{{ 'ABOUTUS' | translate }}</a></li>
                <li><a href="#/{{lang}}/aboutus/mission">{{ 'MISSION_VISION' | translate }}</a></li>
                <li><a href="#/{{lang}}/aboutus/clients">{{ 'CLIENTS_PARTNERS' | translate }}</a></li>
                <li><a href="#/{{lang}}/aboutus/locations">{{ 'LOCATIONS' | translate }}</a></li>
                <li><a href="#/{{lang}}/aboutus/contact">{{ 'CONTACT' | translate }}</a></li>
            </ol>
        </li>
        <li ng-class="{ active: section.main == 'sports' }"><a href="#" ui-sref="root.sports">{{ 'SPORTS' | translate }}</a>
            <ol>
                <li><a href="#/{{lang}}/sports/services">{{ 'SERVICES' | translate }}</a></li>
                <li><a href="#/{{lang}}/sports/team">{{ 'TEAM_SUPPORT' | translate }}</a></li>
                <li><a href="#/{{lang}}/sports/testimonials">{{ 'TESTIMONIALS' | translate }}</a></li>
                <!--<li><a href="#/{{lang}}/sports/clients">{{ 'CLIENTS_PARTNERS' | translate }}</a></li>-->
                <li><a href="#/{{lang}}/sports/contact">{{ 'CONTACT' | translate }}</a></li>
            </ol>
        </li>
        <li ng-class="{ active: section.main == 'corporate' }"><a href="" ui-sref="root.corporate">{{ 'CORPORATE' | translate }}</a>
            <ol>
                <li><a href="#/{{lang}}/corporate/services">{{ 'SERVICES' | translate }}</a></li>
                <li><a href="#/{{lang}}/corporate/team">{{ 'TEAM_SUPPORT' | translate }}</a></li>
                <li><a href="#/{{lang}}/corporate/testimonials">{{ 'TESTIMONIALS' | translate }}</a></li>
                <li><a href="#/{{lang}}/corporate/contact">{{ 'CONTACT' | translate }}</a></li>
            </ol>
        </li>
        <li ng-class="{ active: section.main == 'incentives' }"><a href="#" ui-sref="root.incentives">{{ 'INCENTIVES' | translate }}</a>
            <ol>
                <li><a href="#/{{lang}}/incentives/services">{{ 'SERVICES' | translate }}</a></li>
                <li><a href="#/{{lang}}/incentives/packages">{{ 'TEAM_SUPPORT' | translate }}</a></li>
                <li><a href="#/{{lang}}/incentives/highlights">{{ 'HIGHLIGHTS' | translate }}</a></li>
                <li><a href="#/{{lang}}/incentives/testimonials">{{ 'TESTIMONIALS' | translate }}</a></li>
                <li><a href="#/{{lang}}/incentives/contact" >{{ 'CONTACT' | translate }}</a></li>
            </ol>
        </li>
        <li ng-class="{ active: section.main == 'leisure' }"><a href="#" ui-sref="root.leisure">{{ 'LEISURE' | translate }}</a>
            <ol>
                <li><a href="#/{{lang}}/leisure/services">{{ 'SERVICES' | translate }}</a></li>
                <li><a href="#/{{lang}}/leisure/team">{{ 'TEAM_SUPPORT' | translate }}</a></li>
                <!--<li><a href="#/{{lang}}/leisure/packages">{{ 'PACKAGES' | translate }}</a></li>-->
                <li><a href="#/{{lang}}/leisure/highlights">{{ 'HIGHLIGHTS' | translate }}</a></li>
                <li><a href="#/{{lang}}/leisure/testimonials">{{ 'TESTIMONIALS' | translate }}</a></li>
                <li><a href="#/{{lang}}/leisure/contact">{{ 'CONTACT' | translate }}</a></li>
            </ol>
        </li>
    </ul>
</nav>