<div class="social-links">
    <a target="_blank" ng-hide="CONSTANTS.FB==''" href="{{ CONSTANTS.FB }}" class="facebook">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a target="_blank" ng-hide="CONSTANTS.TWITTER==''" href="{{ CONSTANTS.TWITTER }}" class="twitter">
        <i class="fab fa-twitter"></i>
    </a>
    <a target="_blank" ng-hide="CONSTANTS.PINTEREST==''" href="{{ CONSTANTS.PINTEREST }}" class="linkedin">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a target="_blank" ng-hide="CONSTANTS.INSTAGRAM==''" href="{{ CONSTANTS.INSTAGRAM }}" class="instagram">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="#/{{lang}}/{{ section.main }}" class="clicktoup">
        <img src="app/public/img/back-to-top.png" alt="Up"/>
    </a>
</div>