<div id="alert" class="alert {{ alert.level }}" role="alert" ng-show="alert.show">
    <span class="close" aria-label="Close" ng-click="alert.show = false"><span aria-hidden="true">&times;</span></span>
    <strong ng-show="alert.level == 'alert-success'">Sucesso!</strong>
    <strong ng-show="alert.level == 'alert-danger'">Atenção!</strong>
    {{ alert.message }}
</div>