<!-- header -->
<div ui-sref="root.home" class="header ajustheader" >
    <div ng-if="!mobile">
        <div class="slider-wrapper" ajust-header>
            <article>
                <div class="text-content">
                    <h1 translate="ERROR_PAGE_TITLE"></h1>
                    <p translate="ERROR_PAGE_TEXT"></p>
                </div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/header_404.jpg"/></div>
            </article>
        </div>
    </div>
    <div ng-if="mobile">
        <div class="slider-wrapper">
            <article>
                <div class="text-content">
                    <h1 translate="ERROR_PAGE_TITLE"></h1>
                    <p translate="ERROR_PAGE_TEXT"></p>
                </div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/mob_header_404.jpg"/></div>
            </article>
        </div>
    </div>
</div>