<!-- header -->
<div class="header ajustheader" >
    <div ng-if="!mobile">
        <div class="slider-wrapper" ajust-header>
            <article>
                <div class="text-content"></div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/{{lang}}/aboutus_header.jpg"/></div>
            </article>
        </div>

        <span class="footer">
            <h2 translate="ABOUTUS_DISCOVER"></h2>
            <a href="#/{{lang}}/aboutus/about" class="icon-seta_areas"></a>
        </span>
    </div>

    <div ng-if="mobile">
        <div class="slider-wrapper">
            <article>
                <div class="text-content"></div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/{{lang}}/mob_aboutus_header.jpg"/></div>
            </article>
        </div>
        <span class="footer">
            <a href="#/{{lang}}/aboutus/about" class="icon-seta_areas"></a>
        </span>
    </div>
</div>

<!-- content -->
<div class="main">

    <div id="about" class="row txt-center">
        <div class="col-12 title">
            <span class="icon-About_1 section-icon"></span>
            <h2 translate="ABOUTUS_WEARETOGETHER"></h2>
        </div>
    </div>

    <div class="fullwidth bg">
        <div class="row">
            <div class="col-12">
                <p translate="ABOUTUS_DESCRIPTION"></p>
            </div>
        </div>
    </div>

    <div id="mission" class="row txt-center">
        <div class="col-12 title">
            <span class="icon-About_2 section-icon"></span>
            <h2 translate="ABOUTUS_WETRAVELTOGETHER"></h2>
        </div>
    </div>

    <div class="fullwidth mission">

        <div class="grid">
            <div class="row">
                <div class="row-height">
                    <div class="col-1 col-height">&nbsp;</div>
                    <div class="col-5 col-height col-middle">
                        <div class="content inside-full-height" translate="ABOUTUS_MISSION"></div>
                    </div>
                    <div class="col-5 col-height col-middle">
                        <div class="content inside-full-height" translate="ABOUTUS_VISION"></div>
                    </div>
                    <div class="col-1 col-height">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>


    <div id="clients" class="row wetravel txt-center">
        <div class="col-12">

            <div class="row">
                <div class="col-12 title">
                    <span class="icon-About_3 section-icon"></span>
                    <h2 translate="ABOUTUS_WEGROWTOGETHER"></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-6 offset-3 txt-center" translate="ABOUTUS_WEGROWTOGETHER_TXT"></div>
            </div>

            <div class="col-12 slick-wrapper">
                <!--<div class="slick">
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/1.png" /></div>
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/2.png" /></div>
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/3.png" /></div>
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/4.png" /></div>
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/5.png" /></div>
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/6.png" /></div>
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/8.png" /></div>
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/9.png" /></div>
                    <div><img src="app/public/img/blank.png" ng-src="{{ CONSTANTS.IMG }}/clients/10.png" /></div>
                </div>-->
                <div class="slick">
                    <div ng-repeat="item in partners">
                        <img src="app/public/img/blank.png" ng-src="{{ item.src }}" ng-href="{{ item.url }}" alt="{{ item.title }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="locations" class="row txt-center">
        <div class="col-12 title">
            <h2 translate="ABOUTUS_LOCATIONS_TITLE"></h2>
        </div>
        <div class="grid">
            <div class="row">
                <div class="row-height">
                    <div class="col-4 col-height col-top withbg">
                        <div class="content inside-full-height">
                            <p translate="ABOUTUS_LOCATIONS_OPORTO" class="txt-left"></p>
                        </div>
                    </div>
                    <div class="col-4 col-height col-top">
                        <div class="content inside-full-height">
                            <p translate="ABOUTUS_LOCATIONS_LISBON" class="txt-left"></p>
                        </div>
                    </div>
                    <div class="col-4 col-height col-top withbg">
                        <div class="content inside-full-height">
                            <p translate="ABOUTUS_LOCATIONS_LUANDA" class="txt-left"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <section class="contactusform"></section>
</div>
