<!-- header -->
<div class="header">
	<img src="#" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}corporate_header.jpg" alt=""/>
</div>

<!-- content -->
<div class="main">
	<div id="services" class="row content">
        <div class="introblocks">
        	<div class="col-7 col col1" name="{{ 'CORPORATE' | translate | uppercase}}" translate="CORPORATE_INTRO1"></div>
            <div class="col-7 offset-5 col col2" name="{{ 'SERVICES' | translate | uppercase}}" translate="CORPORATE_INTRO2"></div>
        </div>
    </div>

    <div id="team" class="teamsupport fullwidth">
        <div class="row txt-center">
            <div class="col-12" translate="CORPORATE_TEAM_SUPPORT"></div>
        </div>
    </div>

    <div class="grid">
        <div class="row">
            <div class="row-height">
                <div class="col-6 col-height col-top">
                    <div class="content inside-full-height">
                        <span class="icon-Corporate_1"></span>
                        <p translate="CORPORATE_TEAM_1"></p>
                    </div>
                </div>
                <div class="col-6 col-height col-top withbg">
                    <div class="content inside-full-height">
                        <span class="icon-Corporate_2"></span>
                        <p translate="CORPORATE_TEAM_2"></p>
                    </div>
                </div>
            </div>
            <div class="row-height">
                <div class="col-6 col-height col-top withbg">
                    <div class="content inside-full-height">
                        <span class="icon-Corporate_3"></span>
                        <p translate="CORPORATE_TEAM_3"></p>
                    </div>
                </div>
                <div class="col-6 col-height col-top">
                    <div class="content inside-full-height">
                        <span class="icon-Corporate_4"></span>
                        <p translate="CORPORATE_TEAM_4"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="testimonials" class="testimonials-api-wrapper" lang="{{lang}}" mobile="{{mobile}}" category="{{section.main}}">
        <article ng-repeat="item in images">
            <a ng-href="{{ (item.url.length > 0)? item.url : ''}}" class="image-content"><img ng-src="{{ item.src }}"></a>
        </article>
    </section>

    <section class="contactusform"></section>

</div>