<!-- header -->
<div class="header ajustheader" >
    <div ng-if="!mobile">
        <div class="slider-wrapper" ajust-header auto="true">
            <article>
                <div class="text-content">
                    <h1 translate="HOME_SLIDER1"></h1>
                    <a href="#corporate" ui-sref="root.corporate" class="bt" translate="HOME_SLIDER1_BT"></a>
                </div>
                <div class="image-content"><img src="app/public/img/headers/header1.jpg"/></div>
            </article>
            <article>
                <div class="text-content">
                    <h1 translate="HOME_SLIDER4"></h1>
                    <a href="#leisure" ui-sref="root.leisure" class="bt" translate="HOME_SLIDER4_BT"></a>
                </div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/header4.jpg"/></div>
            </article>
            <article>
                <div class="text-content">
                    <h1 translate="HOME_SLIDER2"></h1>
                    <a href="#sports" ui-sref="root.sports" class="bt" translate="HOME_SLIDER2_BT"></a>
                </div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/header2.jpg"/></div>
            </article>
            <article>
                <div class="text-content">
                    <h1 translate="HOME_SLIDER3"></h1>
                    <a href="#incentives" ui-sref="root.incentives" class="bt" translate="HOME_SLIDER3_BT"></a>
                </div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/header3.jpg"/></div>
            </article>

        </div>

        <span class="footer">
            <a href="#/{{lang}}/home/yourteam" class="icon-seta_areas"></a>
        </span>
    </div>

    <div ng-if="mobile">
        <div class="slider-wrapper">
            <article>
                <div class="text-content">
                    <h1 translate="HOME_SLIDER1"></h1>
                    <a href="#corporate" ui-sref="root.corporate" class="bt" translate="HOME_SLIDER1_BT"></a>
                </div>
                <div class="image-content"><img src="app/public/img/headers/mob_header1.jpg"></div>
            </article>
            <article>
                <div class="text-content">
                    <h1 translate="HOME_SLIDER4"></h1>
                    <a href="#leisure" ui-sref="root.leisure" class="bt" translate="HOME_SLIDER4_BT"></a>
                </div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/mob_header4.jpg"></div>
            </article>
            <article>
                <div class="text-content">
                    <h1 translate="HOME_SLIDER2"></h1>
                    <a href="#sports" ui-sref="root.sports" class="bt" translate="HOME_SLIDER2_BT"></a>
                </div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/mob_header2.jpg"></div>
            </article>
            <article>
                <div class="text-content">
                    <h1 translate="HOME_SLIDER3"></h1>
                    <a href="#incentives" ui-sref="root.incentives" class="bt" translate="HOME_SLIDER3_BT"></a>
                </div>
                <div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/headers/mob_header3.jpg"></div>
            </article>

        </div>
    </div>
    <span class="footer">
        <a href="#/{{lang}}/home/yourteam" class="icon-seta_areas"></a>
    </span>
</div>

<!-- content -->
<div class="main">
	<div id="yourteam" class="row content">
    	<div class="col-12">
            <div class="block" translate="HOME_HEADER"></div>
        </div>
    </div>

    <ul class="banners">
        <li ui-sref="root.corporate">
            <div class="info">
                <span class="icon-tema_corporate icon"></span>
                {{ 'CORPORATE'|translate}}
                <div href="#" class="icon-seta_areas seta"></div>
            </div>
            <img ng-src="{{ CONSTANTS.IMG }}/banners/banner_1.jpg" />
        </li>
        <li ui-sref="root.sports">
            <div class="info">
                <span class="icon-tema_sports icon"></span>
                {{ 'SPORTS'|translate}}
                <div href="#" class="icon-seta_areas seta"></div>
            </div>
            <img ng-src="{{ CONSTANTS.IMG }}/banners/banner_2.jpg" />
        </li>
        <li ui-sref="root.incentives">
            <div class="info">
                <span class="icon-tema_incentives icon"></span>
                {{ 'INCENTIVES'|translate}}
                <div href="#" class="icon-seta_areas seta"></div>
            </div>
            <img ng-src="{{ CONSTANTS.IMG }}/banners/banner_3.jpg" />
        </li>
        <li ui-sref="root.leisure">
            <div class="info">
                <span class="icon-tema_leisure icon"></span>
                {{ 'LEISURE'|translate}}
                <div href="#" class="icon-seta_areas seta"></div>
            </div>
            <img ng-src="{{ CONSTANTS.IMG }}/banners/banner_4.jpg" />
        </li>
    </ul>
    <div class="row sponsors content">
        <div class="col-12">
            <div class="block">
                <div translate="HOME_WE_ARE_LEADERS"></div>
                <br /><br />
                <div class="row">
                    <div class="col-4 offset-4 col-img md-6">
                        <img ng-src="{{ CONSTANTS.IMG }}/sponsors.png" />
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>