<div class="header">
    <img src="#" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}incentives_header.jpg" alt=""/>
</div>
<div class="main">

    <div id="services" class="row content">
        <div class="introblocks">
            <div class="col-7 col col1" name="{{ 'INCENTIVES' | translate | uppercase}}" translate="INCENTIVES_INTRO1"></div>
            <div class="col-7 offset-5 col col2" name="{{ 'SERVICES' | translate | uppercase}}" translate="INCENTIVES_INTRO2"></div>
        </div>
    </div>

    <section class="actions">
        <div id="packages" class=" fullwidth parallax">
            <div class="bg"></div>
            <div class="row">
                <div class="col-12">
                    <h3 class="txt-center underline" translate="INCENTIVES_PACKAGES_HEADER"></h3>
                    <div class="col-5 offset-1" translate="INCENTIVES_PACKAGES_INTERNAL"></div>
                    <div class="col-5 offset-1" translate="INCENTIVES_PACKAGES_EXTERNAL"></div>
                </div>
            </div>
        </div>
    </section>

    <div class="how fullwidth">
        <div class="row">
            <div class="row txt-center">
                <div class="col-12" translate="INCENTIVES_TEAM_SUPPORT"></div>
            </div>
            <div class="col-8 offset-2">
                <div class="squares" translate="INCENTIVES_HOW_TXT"></div>
            </div>
        </div>
    </div>

    <section id="highlights" >
        <div class="row">
            <div class="col-12 slider-api-wrapper" lang="{{lang}}" mobile="{{mobile}}" category="{{section.main}}">
                <!--<article>
                    <div class="text-content"><h2></h2><p><span class="bullet"></span></p></div>
                    <a href="#/{{lang}}/incentives/contact" class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/news/{{ lang }}/{{device_path}}i_1.jpg"></a>
                </article>
                <article>
                    <a href="http://www.cosmos-events.com/" target="_blank" class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/news/{{ lang }}/{{device_path}}i_2.jpg"></a>
                </article>-->
                <article ng-repeat="item in images">
                    <!-- <div class="text-content txt-center"><h2></h2><p></p></div> -->
                    <a ng-href="{{ (item.url.length > 0)? item.url : ''}}" target="{{ (item.url.indexOf('#')>-1)? '_self' : '_blank'}}" class="image-content"><img ng-src="{{ item.src }}"></a>
                </article>
            </div>
        </div>
    </section>

    <section id="testimonials" class="testimonials-api-wrapper" lang="{{lang}}" mobile="{{mobile}}" category="{{section.main}}">
        <article ng-repeat="item in images">
            <a ng-href="{{ (item.url.length > 0)? item.url : ''}}" class="image-content"><img ng-src="{{ item.src }}"></a>
        </article>
    </section>

    <section class="contactusform"></section>

</div>