<div class="header">
    <img src="#" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}leisure_header.jpg" alt=""/>
</div>
<div class="main">

    <div id="services" class="row content">
        <div class="introblocks">
            <div class="col-7 col col1" name="{{ 'LEISURE' | translate | uppercase }}" translate="LEISURE_INTRO1"></div>
            <div class="col-7 offset-5 col col2" name="{{ 'SERVICES' | translate | uppercase}}" translate="LEISURE_INTRO2"></div>
        </div>
    </div>

    <section class="team">
        <div id="team" class=" fullwidth parallax">
            <div class="bg"></div>
            <div class="row txt-center">
                <div class="col-12" translate="LEISURE_TEAM_SUPPORT"></div>
            </div>
        </div>
    </section>


    <section id="packages" class="quotes">
        <div id="quotes" class=" fullwidth parallax">
            <div class="bg"></div>

            <div class="row txt-center">
                <div class="col-12">
                    <h2 translate="LEISURE_QUOTE1"></h2>
                </div>
            </div>
            <div class="row txt-center">
                <div class="col-12">
                    <h2 translate="LEISURE_QUOTE2"></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="quotes quotes2">
        <div class="fullwidth parallax">
            <div class="bg"></div>

            <div class="row txt-center">
                <div class="col-12">
                    <h2 translate="LEISURE_QUOTE3"></h2>
                </div>
            </div>
            <div class="row txt-center">
                <div class="col-12">
                    <h2 translate="LEISURE_QUOTE4"></h2>
                </div>
            </div>
            <div class="row txt-center">
                <div class="col-12">
                    <h2 translate="LEISURE_QUOTE5"></h2>
                </div>
            </div>
        </div>
    </section>

    <!--<section id="highlights" >
        <div class="col-12 slider-wrapper">
            <article>
                <div class="text-content txt-center"><h2></h2><p></p></div>
                <a href="#/{{lang}}/leisure/contact" class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/news/{{ lang }}/{{device_path}}l_1.jpg"></a>
            </article>
            <article>
                <a href="#/{{lang}}/leisure/contact" class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/news/{{ lang }}/{{device_path}}l_2.jpg"></a>
            </article>
            <article>
                <a href="#/{{lang}}/leisure/contact" class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/news/{{ lang }}/{{device_path}}l_3.jpg"></a>
            </article>
        </div>
    </section>-->

    <section id="highlights" >
        <div class="col-12 slider-api-wrapper" lang="{{lang}}" mobile="{{mobile}}" category="{{section.main}}">
            <article ng-repeat="item in images">
                <!-- <div class="text-content txt-center"><h2></h2><p></p></div> -->
                <a ng-href="{{ (item.url.length > 0)? item.url : ''}}" class="image-content"><img ng-src="{{ item.src }}"></a>
            </article>
        </div>
    </section>

    <section id="testimonials" class="testimonials-api-wrapper" lang="{{lang}}" mobile="{{mobile}}" category="{{section.main}}">
        <article ng-repeat="item in images">
            <a ng-href="{{ (item.url.length > 0)? item.url : ''}}" class="image-content"><img ng-src="{{ item.src }}"></a>
        </article>
    </section>

    <section class="contactusform"></section>

</div>
