<div class="header">
    <img src="#" ng-src="{{ CONSTANTS.IMG }}/headers/{{device_path}}sports_header.jpg" alt=""/>
</div>
<div class="main">

    <div id="services" class="row content">
        <div class="introblocks">
            <div class="col-7 col col1" name="{{ 'SPORTS' | translate | uppercase}}" translate="SPORTS_INTRO1"></div>
            <div class="col-7 offset-5 col col2" name="{{ 'SERVICES' | translate | uppercase}}" translate="SPORTS_INTRO2"></div>
        </div>
    </div>

    <div id="team" class="teamsupport fullwidth">
        <div class="row txt-center">
            <div class="col-12">
                <h2>{{ 'TEAM_SUPPORT' | translate | uppercase}}</h2>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="row">
            <div class="row-height">
                <div class="col-6 col-height col-top">
                    <div class="content inside-full-height">
                        <span class="icon-sports_1"></span>
                        <p>
                            <b>{{locale}}{{ 'SPORTS_TEAM_1' | translate }}</b>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-height col-top withbg">
                    <div class="content inside-full-height">
                        <span class="icon-sports_active_1"></span>
                        <p>
                            <b>{{ 'SPORTS_TEAM_2' | translate }}</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-height">
                <div class="col-6 col-height col-top withbg">
                    <div class="content inside-full-height">
                        <span class="icon-sports_3"></span>
                        <p>
                            <b>{{ 'SPORTS_TEAM_3' | translate }}</b>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-height col-top">
                    <div class="content inside-full-height">
                        <span class="icon-sports_4"></span>
                        <p>
                            <b>{{ 'SPORTS_TEAM_4' | translate }}</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-height">
                <div class="col-6 col-height col-top">
                    <div class="content inside-full-height">
                        <span class="icon-Sports_5"></span>
                        <p>
                            <b>{{ 'SPORTS_TEAM_5' | translate }}</b>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-height col-top withbg">
                    <div class="content inside-full-height">
                        <span class="icon-sports_6"></span>
                        <p>
                            <b>{{ 'SPORTS_TEAM_6' | translate }}</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<section id="testimonials" class="testimonials-api-wrapper" lang="{{lang}}" mobile="{{mobile}}" category="{{section.main}}">
		<!--<article>
			<div class="text-content">
				<h2>“Dedication, professionalism and quality make us trust…”</h2>
				<p class="author">Maria José Farinha<br />Chief Officer<br />Comité Olímpico de Portugal</p>
			</div>
			<div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/testimonials/{{lang}}/{{device_path}}t_1.jpg"></div>
		</article>-->
        <article ng-repeat="item in images">
            <!-- <div class="text-content txt-center"><h2></h2><p></p></div> -->
            <a ng-href="{{ (item.url.length > 0)? item.url : ''}}" class="image-content"><img ng-src="{{ item.src }}"></a>
        </article>
	</section>

	<section class="quote">
		<div class="row">
			<div class="col-12 txt-center">
				<h2 translate="SPORTS_QUOTE1"></h2>
			</div>
		</div>
	</section>

	<!--<section id="news" class="slider-wrapper">
		<article>
            <div class="image-content"><a href="http://hospitality.cosmos-viagens.pt/pt" target="_blank"><img ng-src="{{ CONSTANTS.IMG }}/news/{{ lang }}/{{device_path}}s_2.jpg"></a></div>
        </article>
        <article>
			<div class="image-content"><img ng-src="{{ CONSTANTS.IMG }}/news/{{ lang }}/{{device_path}}s_1.jpg"></div>
		</article>
	</section>-->
    <section id="news" class="sports-clients-api-wrapper" lang="{{lang}}" mobile="{{mobile}}">
        <article ng-repeat="item in images">
            <a ng-href="{{ (item.url.length > 0)? item.url : ''}}" class="image-content"><img ng-src="{{ item.src }}"></a>
        </article>
    </section>

	<section class="quote">
		<div class="row">
			<div class="col-12 txt-center">
				<h2 translate="SPORTS_QUOTE2"></h2>
			</div>
		</div>
	</section>

	<section id="clients" sports-animation class="team">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="col-12 txt-center">
					<h2 translate="SPORTS_CLIENTS_HEADER"></h2>
				</div>
				<div class="col-12 txt-center">
					<p translate="SPORTS_CLIENTS_TXT"></p>
				</div>
				<div class="col-12 icons txt-center">
					<span class="icon-sports_active_1"></span>
					<span class="icon-sports_active_2"></span>
					<span class="icon-sports_active_3"></span>
					<span class="icon-sports_active_4"></span>
					<span class="icon-sports_active_5"></span>
					<span class="icon-sports_active_6"></span>
					<span class="icon-sports_active_7"></span>
					<span class="icon-sports_active_8"></span>
				</div>
				<div class="col-12 txt-center">
					<a href="http://www.cosmosactive.com/" target="_blank" class="bt" translate="SPORTS_CLIENTS_BUTTON"></a>
				</div>
			</div>
		</div>

	</section>

    <section class="contactusform"></section>
</div>