/* ----------------------------------
 *   RD styles
 * ---------------------------------- */
input{vertical-align: top;}

#shortcuts ul li a.back:before {
	font-size: 16px; font-weight: 700; color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	vertical-align: 0;
	content: '‹ ';
}

section#content ul li.filter_li { width: 99%; }
section#content ul li.filter_li .filter_single,
section#content ul li.filter_li .selector { display: inline-block;}
section#content ul li.filter_li .filter_single,
section#content ul li.filter_li .chzn-container,
section#content ul li.filter_li .selector { margin: 0 10px 0 0; }

tr.dark td,
tr.alt.dark td,
table tbody tr.dark:nth-child(odd) td { background: #ccc; }

#gMap{
	position: relative; z-index: 999;
	float: left; width: 100%; height: 500px;
	border: 1px solid #000;
}
/** icons **/
a.edit {
	background: url('../../img/glyphicons/glyphicons-halflings.png') no-repeat 0 -72px;
	text-indent: -99999px;
	display: inline-block; width: 13px; height: 14px;
	overflow: hidden;
}