$black: #000;
$white: #fff;

$grey-menu:#2A2727;
$grey:#251415;
$grey-light:#e8e8e8;
$grey-dark:#28282a;
$grey-nav-border:#494949;
$grey-grid-bg:#f9f9f9;
$grey-grid-bg2:#efeeee;
$grey-form-bg:#666666;
$grey-text-team:#ceced5;
$blue-light: #42b2d6;

$incentives-bg:#9d9091;
$incentives-border:#cec7c8;

$leisure-bg:#4b85ac;

$about-bg:#f9f9f8;
$about-icon:#97878a;
$about-border:#524b4b;
$facebook:#547cb8;
$twitter:#42b3d2;
$pinterest:#eb5559;

$contactform: #f3f3f2;

$bgcall:#322e2e;

$max-width:1230px;

@import "vendor/normalize";


@import "partials/animate.scss";


@import "partials/reset";
@import "partials/preloader";
@import "partials/themeforms";
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
//@import url(https://fonts.googleapis.com/css?family=Tangerine);

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine'), url(https://fonts.gstatic.com/s/tangerine/v7/HGfsyCL5WASpHOFnouG-RLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@import "partials/base.scss";

@import "vendor/slippry.scss";
@import "vendor/slick.scss";
@import "vendor/slick-theme.scss";
@import "vendor/jquery.js.shifter.scss";
@import "vendor/jquery.cookiebar.scss";
@import "vendor/ngDialog.scss";